<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"> Footballz </a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li> <a href="#"> list</a>  </li>
                <li> <a href="map"> map </a>  </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="active" href="#home" (click)="onSignOut()">Sign Out</button>
                </li>
               
            </ul>
        </div>
    </div>
</nav>


   

 