
  @import '../../styles.scss';
  
  .teams-list {
     padding: auto;
     margin: auto;
  //   max-width: 500px;
    top: 10rem;
    position: relative;
     /* flexbox */
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
  //   justify-content: center;
  //   align-content: flex-start;
   //  align-items: center;

     span {
       margin: auto;

       h4 {
        color: #444;
        font-family: $font-stack;
        font-weight: lighter;
      }
      img {
        margin: auto;
      }
     }
   }

