/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

  body {
    margin: 2em;
  }
 
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  
  $font-stack: Arial, Helvetica, sans-serif;
  /* everywhere else */
  * {
    font-family: $font-stack;
  }